<h3>Proses Baru</h3>

<br>

<div class="container" id="tableBox">
	<%= render 'form', processlist: @processlist %>

	<br>
	<%= link_to 'Kembali', processlists_path, class:"btn btn-secondary" %>
</div>