<h3>Biodata</h3>

<%= render 'form', client: @client %>

<center><h5>Unggahan Berkas</h5></center>
<div class="container" id="tableBox">
	<div class="table-responsive">
		<table class="table">
			<tbody>
		    <% @client_personal_files.each do |client_personal_file| %>
		      <tr>
		        <td><%= client_personal_file.personal_file.name %></td>
		        <% if !client_personal_file.file.filename.nil? %>
	            <td style="width: 5%;"><%= link_to 'Unduh', client_personal_file.file, download: "" , class:"btn btn-success" %></td>
	            <% else %>
	              <td></td>
	            <% end %>
	            <td style="width: 5%;"><%= link_to 'Unggah', edit_client_personal_file_path(client_personal_file.id), class:"btn btn-secondary" %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>