<div style="margin-top: 10%; margin-bottom: 15px;">
    <center><h2>Notaris Loesianna</h2></center>
</div>

<%= form_with url: searchresult_clients_url, method: :get do |form| %>
<center>
  <%= form.text_field :query, placeholder:"Masukkan nama atau NIK klien", class:"form-control", style:"text-align:center", autocomplete:"off", autofocus:"true" %>
  <br>

  <%= form.submit "Cari Data", class:"btn btn-info" %>
</center>
<% end %>