<div class="container">
  <center>
      <% if !notice.nil? %>
        <div class="alert alert-warning" role="alert">
          <%= notice %>
        </div>
      <% end %>

      <button class="btn btn-secondary" onclick="window.close()">Tutup Halaman</button>
  </center>
</div>